bcrypt
cryptography
fastapi
pydantic[email]
uvicorn[standard]
python-multipart
psycopg2-binary
PyMySQL
python-jose
passlib
pytest
httpx
pytest-asyncio
aiofiles
jinja2
python-jose[cryptography]
sqlalchemy
alembic
